// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import "bootstrap";

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #FFE3A9;
  --ion-color-primary-rgb: 255, 227, 169;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0c895;
  --ion-color-primary-tint: #ffe6b2;

  /** secondary **/
  --ion-color-secondary: #FFC3C3;
  --ion-color-secondary-rgb: 255, 195, 195;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0acac;
  --ion-color-secondary-tint: #ffc9c9;

  /** tertiary **/
  --ion-color-tertiary: #FF8C8C;
  --ion-color-tertiary-rgb: 255, 140, 140;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e07b7b;
  --ion-color-tertiary-tint: #ff9898;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** medium **/
  --ion-color-medium: #FF5D5D;
  --ion-color-medium-rgb: 255, 93, 93;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #e05252;
  --ion-color-medium-tint: #ff6d6d;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}