<ion-content [fullscreen]="true" color="primary">
  <ion-grid>
    <div class="title">
      <h1>My Menu</h1>
    </div>

    <div class="form-group">
      <!-- Formulario -->
      <ion-col size="12">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <form style="width: 340px;">
            <ion-col size="12">
              <ion-input class="input-form" type="text" placeholder="E-mail"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-input class="input-form" type="password" placeholder="Senha"></ion-input>
            </ion-col>
          </form>
        </ion-row>
      </ion-col>
    </div>

    <!-- Botoes -->
    <ion-col size="12">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button type="submit" class="buttons-footer" shape="round" color="secondary">Entrar</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <div>
          <p class="ion-text-center">Não possui cadastro?</p>
          <ion-button type="submit" class="buttons-footer" shape="round" color="secondary" (click)="cadastro()">Cadastrar</ion-button>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>