<ion-header class="header-mercado">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="button-back">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title size="large">Lista de Mercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div *ngIf="iListaMercado.length == 0">
    <ion-card color="primary" class="card-mercado">
      <ion-card-content>
        <div class="content-card" style="font-size: 24px;">
          <ion-label>Nenhum item adicionado na Lista de Compras</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="iListaMercado.length > 0">
    <ion-card color="primary" class="card-mercado" *ngFor="let wLista of iListaMercado">
      <ion-card-header>
        <ion-card-title class="title-categoria">{{ wLista.categoria }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngFor="let wItens of wLista.itens">
        <div class="content-card d-flex align-items-center">
          <ion-checkbox slot="start" class="checkBox" [(ngModel)]="wItens.selecionado" (click)="marcaCheckBox(wItens)"></ion-checkbox>
          <ion-label class="txt-item {{ wItens.class }}">({{ wItens.quantidade }} {{wItens.unid_medida}}) {{wItens.produto}}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="buttons-footer">
      <ion-button class="buttons" shape="round" (click)="navigate('edit')"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-button class="buttons" shape="round" (click)="navigate('add')"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-footer>