.header-mercado {
  &::after {
    background-image: none !important;
  }
}

.card-mercado {
  border-radius: 0;
  box-shadow: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 1rem;

  .title-categoria {
    display: flex;
    justify-content: center;
  }
  
  .content-card {
    display: flex;
    font-size: 18px;

    .checkBox {
      margin: 0 0.5rem 0.5rem 0;
    }

    .selecionado {
      text-decoration: line-through;
    }
  }

  .txt-item {
    padding-bottom: 0.5rem;
  }
}