#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.buttons-home {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .buttons {
    width: 70%;
    height: 55px;
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
    margin-bottom: 2rem;
    box-shadow: 1px 5px #00000033;
    font-size: 24px;
    font-family: 'Quicksand-Light';
  }
}


